@import '../../../theme.scss';

.select-section {
  width: 100%;
  box-sizing: border-box;
  background: #f7f7f7;
  overflow: auto;
  @media screen and (max-width: 480px) {
    font-size: 0.7em;
  }
  @media screen and (max-width: 300px) {
    font-size: 0.6em;
  }
  .content {
    padding: 24px;
    max-width: 1200px;
    margin: auto;
  }
}
.showing-section {
  width: 100%;
  box-sizing: border-box;
  background: $primary;
  overflow: auto;
  color: white;
  @media screen and (max-width: 480px) {
    font-size: 0.7em;
  }
  @media screen and (max-width: 300px) {
    font-size: 0.6em;
  }
  .content {
    padding: 24px;
    max-width: 1200px;
    margin: auto;
  }
}
