@import '../../../../theme.scss';

.container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.btn {
  border-color: $primary;
  border-style: solid;
  border-radius: 0;
  border-collapse: collapse;
  color: $primary;
  background: white;
  border-width: 1px 0 1px 1px;
  &.firstCol {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  &.lastCol,
  &.last {
    border-width: 1px 1px 1px 1px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  &.selected {
    background: $primary;
    color: white;
  }
}

.text {
    margin-right: 16px;
}