.container {
  position: relative;
  width: 100%;
}

.current-image {
  position: absolute;
  top: 0;
  left: 0;
}

.title {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 2em;
}

.next-image,
.current-image {
  width: 100%;
}

.height {
  font-size: 1.7em;
}

.play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 20%;
  height: auto;
  display: none;
  cursor: pointer;
  &.active {
    display: block;
  }
}
