@import '../../../theme.scss';

.header {
  color: $primary;
}

.btn {
  border-color: $primary;
  border-style: solid;
  border-radius: 0;
  border-collapse: collapse;
  margin-bottom: 1em;
  color: $primary;
  border-width: 1px 0 1px 1px;
  &.firstCol {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  &.lastCol,&.last {
    border-width: 1px 1px 1px 1px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.selected {
  background: $primary;
  color: white;
}
